// Specific CSS for your home-page

#notifications {
  display: none;
}


body {
  padding-top: 80px;
}


.img-circle {
  border-radius: 50%;
}

#home-banner .jumbotron {
  background: image-url("banners/placeholder.jpg") no-repeat center center;
  background-size: cover;
}

#blog-banner .jumbotron {
  background: image-url("banners/blog.jpg") no-repeat center center;
  background-size: cover;
}

.main-banner .jumbotron {
  h1 {
    color: #fff;
    font-size: 24px;
    text-shadow: 1px 1px 2px #777;
  }

  p {
    color: #fff;
    font-size: 16px;
    text-shadow: 1px 1px 2px #777;
  }
}


.list-header {
  font-size: 20px;
}
