<main role="main" class="main-banner" id="home-banner">
  <section class="jumbotron">
    <div class="container mt-4">
        <h1 class="display-3">Search for your new home today</h1>
        <p>Choose from many options of beautiful apartments</p>
        <p>
          <a href="#" class="btn btn-success">View Latest Properties</a>
        </p>
      </div>
    </div>
  </section>

  <section id="latest-properties">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="mb-3 list-header">Latest Properties</h3>
        </div>
      </div>
      <div class="row">
        <%= render "properties/list", properties: @properties  %>
      </div>
    </div>
  </section>

  <section id="latest-posts">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="mb-3 list-header">Latest News</h3>
        </div>
      </div>
      <div class="row">
        <%= render "posts/list", posts: @posts  %>
      </div>
    </div>
  </section>

</main>
    <hr>
