<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3 class="text-center">Posts</h3>

      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td class="mr-3"><%= post.title %> <%= link_to 'Show', post %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Post', new_post_path %>
    </div>
  </div>
</div>
