<main>
  <section class="jumbotron">
    <div class="container">
      <h1 class="display-4">Latest Blog Posts</h1>
      <p class="lead text-muted">Stay up to date with the latest property news at Wolf Property Finder</p>
    </div>
  </section>
</main>

<div class="container">
  <% if @posts.empty? %>
    <p>No posts to display.</p>
  <% else %>
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col">
          <h4><%= post.title %></h4>
          <p><%= post.summary %></p>
          <%= link_to "Read more", post_path(post), class: "btn btn-success" %>
          <hr>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
